:root {
    --primary-color: purple;
    --secondary-color: aqua;
    --bg-color: rgb(210, 201, 201);

}

main {
    background-color: var(--bg-color);
}

.parent {
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    width: 100%;
    height: 100vw;
    flex-wrap: wraps;

}

.productsContainer {
    display: flex;

    flex-wrap: wraps;
    width: 60%;
    height: 100%;
}

.product {
    width: 30%;
    height: 30%;

    border-radius: 20px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(100px);
    transition: transform 0.3s ease, background 0.3s ease;
    text-align: center;
}

img {
    width: 30%;
    height: 30%;
}

button {
    display: inline-block;
    margin-top: 16px;
    padding: 9px 20px;
    border-radius: 10px;
    font-size: 13px;
    background: var(--secondary-color);
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
}

.Order {
    width: 30%;
}